
@{
    Layout = null;
    ViewBag.Title = "ViewLogin";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        <h2>Acceso de Usuarios</h2>
        @if (@ViewBag.error != null)
        {
            <div class="col-md-6" style="border: 1px solid red">
                <p style="color: red">&nbsp;@ViewBag.error</p>
            </div>
        }

        <div class="col-md-12">
            @using (Html.BeginForm("Login", "Tbl_Usuario", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Ingrese sus datos de acceso</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="username" class="form-label col-md-2">Usuario:</label>
                        <div class="col-md-10">
                            @Html.TextBox("username", null, new { @class = "form-control col-md-4", placeholder = "Usuario", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label col-md-2">Contraseña:</label>
                        <div class="col-md-10">
                            @Html.TextBox("password", null, new { @class = "form-control col-md-4", type = "password", placeholder = "Contraseña", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Entrar" class="btn btn-primary" />
                            <input type="reset" value="Cancelar" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>

