@model KERMESSE_MYGRO.Models.tbl_moneda

@{
    ViewBag.Title = "InsertMoneda";
}


<div class="container-fluid">
    <h1 class="mt-4">Gestión de Moneda</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="" @Url.Action("Index", "Home") ">Inicio</a></li>
        <li class="breadcrumb-item "><a href="@Url.Action("tbl_moneda", "Tbl_Moneda")">Gestión de Moneda</a></li>
        <li class="breadcrumb-item active">Registrar una Moneda</li>
    </ol>
    <div class="card mb-4">
        <img src="https://miviajeanewyork.files.wordpress.com/2016/02/monedas-banner.jpg?w=1390" class="card-img-top" alt="moneda">

        <div class="card-body">

            <div class="table">

                <h2>Registrando una nueva moneda</h2>

                <div style="text-align: right;">
                    <a href="@Url.Action("tbl_moneda", "Tbl_Moneda")" title="Regresar a la página anterior">
                        <i class="fas fa-arrow-circle-left"></i>
                        Regresar a la página anterior
                    </a><br><br>
                </div>

                @using (Html.BeginForm("InsertMoneda", "Tbl_Moneda", FormMethod.Post))
                {

                    <div class="form-row">
                        <div class="col-md-12">

                            <div class="row">

                                <div class="col">
                                    <label class="small mb-1">Nombre de la Moneda: </label>
                                    @Html.ValidationMessageFor(x => x.nombre, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                                </div>

                                <div class="col">
                                    <label class="small mb-1">Simbolo de la Moneda: </label>
                                    @Html.ValidationMessageFor(x => x.signo, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(x => x.signo, new { @class = "form-control" })
                                </div>

                            </div>

                            <br>

                            <div class="row form-row" style="text-align: center;">

                                <div class="col">
                                    <input class="btn btn-primary btn-block col-md-12" type="submit" value="Registrar nueva moneda" />
                                </div>

                                <div class="col">
                                    <input class="btn btn-outline-danger btn-block col-md-12" type="reset" value="Cancelar" />
                                </div>

                            </div>

                            <br>

                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>

