@using KERMESSE_MYGRO.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities db = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<vw_rol_opciones> listopc = new List<vw_rol_opciones>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = db.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = db.vw_rol_opciones.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 1];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }


}


@model IEnumerable<KERMESSE_MYGRO.Models.tbl_moneda>

@{
    ViewBag.Title = "Tbl_Moneda";
}



<div class="container-fluid">
    <h1 class="mt-4">Gestión de Monedas</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item active">Gestión de Moneda</li>
    </ol>
    <div class="card mb-4">
        <img src="https://miviajeanewyork.files.wordpress.com/2016/02/monedas-banner.jpg?w=1390" class="card-img-top" alt="moneda">

        <div class="card-body">

            <div class="table-responsive">

                <h2>Registro de Monedas</h2>

                <div class="row p-4 no-gutters justify-content-between align-items-center">
                    
                    <div class="col-12 col-md-4">

                        <div style="text-align: right;">

                            <a href="@Url.Action("InsertMoneda")">
                                <button type="button" class="btn btn-outline-primary btn-md">
                                    <i class="fas fa-plus"></i> &nbsp;Agregar nueva moneda
                                </button>
                            </a>

                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-hover" id="tbl" width="100%" style="text-align: center;" cellspacing="0">

                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Simbolo</th>
                            <th width="20%">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.signo)
                                </td>
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                    <a href="#"
                                       title="Modificar los datos de la moneda">
                                        <i class="fas fa-pencil-alt"></i>
                                        Editar
                                    </a>

                                    &nbsp;&nbsp;

                                    <a href="@Url.Action("DeleteMoneda", new { id=item.id_moneda})"
                                       title="Eliminar Moneda">
                                        <i class="fas fa-trash-alt"></i>
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot class="table-dark">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>

