@using KERMESSE_MYGRO.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities db = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<vw_rol_opciones> listopc = new List<vw_rol_opciones>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = db.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = db.vw_rol_opciones.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 1];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }


}



@model KERMESSE_MYGRO.Models.tbl_rol

@{
    ViewBag.Title = "EditRol";
}


<div class="container-fluid">
    <h1 class="mt-4">Gestión de Rol</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="" @Url.Action("Index", "Home") ">Inicio</a></li>
        <li class="breadcrumb-item "><a href="@Url.Action("tbl_rol", "Tbl_Rol")">Gestión de Roles</a></li>
        <li class="breadcrumb-item active">Modificar un rol</li>
    </ol>
    <div class="card mb-4">
        <img src="https://i.imgur.com/BlUJhWk.jpeg" class="card-img-top" alt="rol">

        <div class="card-body">

            <div class="table">

                <h2>Modificando rol</h2>

                <div style="text-align: right;">
                    <a href="@Url.Action("tbl_rol", "Tbl_Rol")" title="Regresar a la página anterior">
                        <i class="fas fa-arrow-circle-left"></i>
                        Regresar a la página anterior
                    </a><br><br>
                </div>

                @using (Html.BeginForm("UpdateRol", "Tbl_Rol", FormMethod.Post))
                {

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_rol)

                    <div class="form-row">
                        <div class="col-md-12">

                            <div class="row">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.rol, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.rol, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.rol, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <br>

                            <div class="row form-row" style="text-align: center;">

                                <div class="col">
                                    <input class="btn btn-primary btn-block col-md-12" type="submit" value="Modificar rol" />
                                </div>

                                <div class="col">
                                    <input class="btn btn-outline-danger btn-block col-md-12" type="reset" value="Cancelar" />
                                </div>

                            </div>

                            <br>

                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>

