@using KERMESSE_MYGRO.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities db = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<vw_rol_opciones> listopc = new List<vw_rol_opciones>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = db.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = db.vw_rol_opciones.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 1];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }


}


@{
    ViewBag.Title = "Home Page";
}

<br>
<br>
<br>

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-muted">¡Bienvenido a </span> Mygro Kermesse!</h2>
            <p class="lead">Tu sistema de gestión para una kermesse. Puedes registrar tus productos, comunidades, bonos, gestionar tus ingresos, arqueo de caja y muchas cosas más...</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" src="~/Content/img/banner1.png">

        </div>
    </div>

    <br><br>

    <hr class="featurette-divider">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/user-logo.jpg" />
            <h2>Usuarios</h2>
            <p>Gestiona los usuarios de las personas participantes durante la kermesse.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_usuario", "Tbl_Usuario")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/rol-logo.jpg" />
            <h2>Roles</h2>
            <p>Registra los roles a desempeñar para los distintos usuarios.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_rol", "Tbl_Rol")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/userrol-logo.jpg" />
            <h2>Roles de usuarios</h2>
            <p>Asigne los roles a sus respectivos usuarios para tener acceso al sistema.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_rol_usuario","Tbl_Rol_Usuario")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/rolopc-logo.jpg" />
            <h2>Opciones de rol</h2>
            <p>Asigne las opciones/permisos que deben tener los respectivos roles.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_rol_opcion","Tbl_Rol_Opcion")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/MonedaIcon.png" />
            <h2>Moneda</h2>
            <p>Consulta las monedas disponibles en el sistema.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_moneda","Tbl_Moneda")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/TasaIcon.png" />
            <h2>Tasa de cambio</h2>
            <p>Registra y consulta las tasass de cambio por período.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_tasacambio","Tbl_Tasacambio")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

</div><!-- /.container -->

<br>
<br>