@using KERMESSE_MYGRO.Models;

@{
    /*Instanciamos objetos y variables */
    KERMESSEEntities db = new KERMESSEEntities();
    tbl_usuario tu = new tbl_usuario();
    tbl_rol_usuario tru = new tbl_rol_usuario();
    List<vw_rol_opciones> listopc = new List<vw_rol_opciones>();
    Int32 idRol = 0;
    String opcion = "";
    Int32 longitud = 0;
    Boolean acceso = false;

    /* Obtenemos la sesion */
    tu = Session["usuario"] as tbl_usuario;

    /* Obtenemos el rol del usuario*/
    tru = db.tbl_rol_usuario.Where(x => x.id_usuario.Equals(tu.id_usuario)).FirstOrDefault();
    idRol = tru.id_rol;
    /* Obtenemos la lista de opciones del rol*/
    listopc = db.vw_rol_opciones.Where(x => x.id_rol.Equals(idRol)).ToList();

    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] separado = url.Split('/');
    string opcionActual = separado[separado.Length - 1];

    longitud = listopc.Count();//Obtenemos la cantidad de elementos
    for (int i = 0; i < longitud; i++)
    {
        //obtenemos la columna opcion de la matriz y/o lista de elementos
        opcion = listopc[i].opcion;
        if (opcionActual.Equals(opcion)) //COMPARAMOS LA OPCION ACTUAL CON CADA OPCIÓN DE LA MATRIZ
        {
            acceso = true; //ACCESO CONCEDIDO
            break;
        }
    }
    if (!acceso)
    {
        Response.Redirect("~/Home/Error");
    }


}



@model KERMESSE_MYGRO.Models.tbl_tasacambio

@{
    ViewBag.Title = "EditTasaCambioM";
}

@{
    string name = " ";
    int[] n = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 };
    string[] m = { "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" };
    var val = @Html.ValueFor(model => model.mes).ToString();

}

@foreach (int j in n)
{
    if (j == Int32.Parse(val))
    {
        name = m[j - 1];
    }
}





<div class="container-fluid">
    <h1 class="mt-4">Gestión de Tasa de cambio</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item "><a href="@Url.Action("tbl_tasacambio", "Tbl_Tasacambio")">Gestión de tasa de cambio</a></li>
        <li class="breadcrumb-item active">Modificando Período</li>
    </ol>
    <div class="card mb-4">
        <img src="https://miviajeanewyork.files.wordpress.com/2016/02/monedas-banner.jpg?w=1390" class="card-img-top" alt="moneda">

        <div class="card-body">

            <div class="table">

                <h2>Modificando período</h2>

                <div style="text-align: right;">
                    <a href="@Url.Action("tbl_tasacambio", "Tbl_Tasacambio")" title="Regresar a la página anterior">
                        <i class="fas fa-arrow-circle-left"></i>
                        Regresar a la página anterior
                    </a><br><br>
                </div>

                @using (Html.BeginForm("UpdateTasaCambioM", "Tbl_Tasacambio", FormMethod.Post))
                {
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_tasacambio)

                    <div class="form-row">
                        <div class="col-md-12">

                            <div class="row">

                                <div class="col">
                                    <label class="small mb-1">Moneda de Origen: </label>

                                    @Html.DropDownListFor(model => model.id_monedaO, ViewBag.id_monedaO as SelectList, "Test", htmlAttributes: new { @class = "form-control", @name = "monedaO", @id = "monedaO" })
                                    @Html.ValidationMessageFor(model => model.id_monedaO, "", new { @class = "text-danger" })
                                </div>

                                <div class="col">
                                    <label class="small mb-1">Moneda de Cambio: </label>
                                    @Html.DropDownListFor(model => model.id_monedaC, ViewBag.id_monedaC as SelectList, htmlAttributes: new { @class = "form-control", @name = "monedaC", @id = "monedaC" })
                                    @Html.ValidationMessageFor(model => model.id_monedaC, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="small mb-1">Mes: </label>
                                    <div class="col-md-10">
                                    </div>
                                    <select class="form-control" name="mes" id="mes" required>
                                        <option selected value="@Html.DisplayFor(model => model.mes) ">@name</option>
                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>


                                    </select>
                                    @Html.ValidationMessageFor(model => model.mes)
                                </div>


                                <div class="col">
                                    <label class="small mb-1">Año: </label>
                                    @*<input class="form-control" name="anio" id="anio"
                                        type="number" placeholder="Año" title="Ingrese el año" step="1" required />*@
                                    @Html.EditorFor(model => model.anio, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "1" } })
                                    @Html.ValidationMessageFor(model => model.anio)
                                </div>

                            </div>
                            <br />
                            <div class="form-group">
                                <div class="form-row" style="text-align: center;">

                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-primary btn-block" type="submit"> Guardar cambios </button>
                                        </div>

                                        <div class="col">
                                            <input class="btn btn-outline-danger btn-block" type="reset" value="Cancelar" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

